{% extends 'base.html' %}
{% block title %}
Contact
{% endblock title %}
{% block body %}

	

	<br>
		<div class="container">
			<div class="row">
				<div class="col-md-12 ">
					<h1><span class="colored">Contact</span> Us</h1>
				</div>
			</div>
		</div>
        <br>
	
	

	
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h3>Contact Info.</h3>
                    <br>
					<ul class="contact-info">
						<li><i class="icon-map"></i> Nashik Road, Madhu Shopping Centre, Samartha Nagar, Parijat Nagar Near Satpur MIDC, Nashik, 422005, Maharashtra, India</li>
                        <br>
						<li><i class="fas fa-phone-alt"></i>+ 1234567890</li>
                        <br>
						<li><i class="icon-envelope"></i><a href="#">info@yoursite.com</a></li>
                        <br>
						<li><i class="icon-globe"></i><a href="#">www.yoursite.com</a></li>
					</ul>
				</div>
				<div class="col-md-8 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input class="form-control" placeholder="Name" type="text">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input class="form-control" placeholder="Email" type="text">
							</div>
						</div>
                        
						<div class="col-md-12">
                            <br>
							<div  class="d-grid gap-2">
								<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
							</div>
						</div>
                        <br>
						<div class="col-md-12">
                            <br>
							<div class="d-grid gap-2">
								<input value="Send Message" class="btn btn-primary" type="submit">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	
{% endblock body %}