{% extends 'base.html' %}
{% block title %}Sell{% endblock title %}
{% block body %}
<div class="container mt-3">
    <img src="https://image.freepik.com/free-vector/flat-design-house-moving-concept-with-truck_23-2148665508.jpg" class="img-fluid" alt="...">
    <h1>Sell your home yourself</h1>
    <br>
<div class="row">
    <div class="col-md-4">
        <p>Deciding to sell your home yourself is referred to as for-sale-by-owner (FSBO). The FSBO process is similar to traditional selling, but without the help of a real estate agent. In this case, you’re responsible for the home prep, marketing, showings, and negotiations.</p>
        <br>
        <a class="btn btn-primary btn-lg" href="/listing">Create a Listing</a>
        <br>
        <br>
        <div>
            
        <p>Why sell FSBO</p>
        <br>
        <p>Avoid paying a listing agent commission</p>
        <br>
        <p>Advertise your listing for free on Estate</p>
        <br>
        <p>Flexibility and control from start to finish</p>
        </div>

        How to sell FSBO
When selling yourself, start with home prep, staging, and hiring a professional photographer. Once your marketing materials are ready, research comparable homes to help price your home. Then, create a listing on Zillow. You’ll likely host home showings or open houses. Then select an offer, negotiate, accept and close.

    </div>
    
    <div class="col-md-4"><div class="card" style="width: 18rem;">
        <img src="https://image.freepik.com/free-vector/modern-cottage-houses-set_74855-305.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"></p>
        </div>
      </div></div>
    <div class="col-md-4"></div>

</div>


{% endblock body %}